*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    position: fixed;
}
div.navContent_container{
    margin: auto;
}
div.navContent{
    width: 100%;    
    display: flex;
    flex-direction: row;
}
ul.navMainUL{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px;
}
img.logo{
    width: 142px;
    height: 43px;
}
li.dropdown{
    display: inline-block;
}
ul.dropdown{
    display: none;
    position: absolute;
    list-style-type: none;
}
li.dropdown:hover .dropdown{
    display: block;
}
a.main_a{
    margin: 5px;
    padding: 5px;
}
a.main_a:hover{
    cursor: pointer;
}
ul > li{
    list-style-type: none;    
}
ul > li > a:hover{
    cursor: pointer;
}
button.applybtn{
    background-color: #0090d9;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    width: 130px;
    height: 40px;
    transition: background-color .3s, box-shadow .3s;
}
button.applybtn:hover{
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    background-color: #0097e3;
    transition: background-color .3s, box-shadow .3s;   
}

div.intro{
    text-align: center;
    background-image: url("https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3190/assets/images/hero/hero-bg--home.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 200px 0 100px 0;
}
div.intro-content{
    width: 100%;
}
h1.introH1{
    font-size: 2.625rem;
    margin: 0 0 1.5rem;
}
p.introP{
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 2.25rem;
    margin-top: 1.5rem;
}
button.learnFree{
    background-color: #0090d9;
    border: none;
    border-radius: 2px;
    padding: 10px;
    width: 260px;
    color: #fff;
    height: 41px;
    font-size: 1rem;
    font-weight: 550;
    transition: background-color .3s, box-shadow .3s;       
}
button.learnFree:hover{
    background-color: #0097e3;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    transition: background-color .3s, box-shadow .3s;   
    cursor: pointer;    
}
button.whoAreWe{
    width: 260px;
    height: 41px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin-left: 12px;
    background-color: rgb(255, 255, 255, .3);
    color: #fff;
    font-size: 1rem;
    font-weight: 550;
    transition: background-color .3s, color .3s;    
}
button.whoAreWe:hover{
    cursor: pointer;
    color: #343434;
    background-color: rgb(255, 255, 255);
    transition: background-color .3s, color .3s;
}
div.reviews{
    background-color: #efefef;
}
div.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
}
div.container-content{
    padding-left: .9375em;
    padding-right: .9375em;
    width: 100%;
    float: left;
}
section.review-list-wrapper{
    padding: 1.8rem 0;
}
ul.reviewsUL{
    display: flex;
    flex-direction: row;
}
li.review-list-item{
    margin-left: 2.25rem;
    padding-left: 2.25rem;
    line-height: 1.7rem;
    border-left: 1px solid #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
li.review-list-itemDif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
img.reviewImg1{
    width: 200px;
}
img.reviewImg2{
    width: 150px;
}
img.reviewImg3{
    width: 70px;
}
section.content-section{
    padding: 50px 0 60px;
}
header.content-section-header{
    margin-bottom: 33px;
    text-align: center;
}
blockquote{
    text-align: center;
    line-height: 1.5rem;
}
blockquote h2.content-section-title{
    margin-bottom: 5px;
    font-size: 2.25rem;
    line-height: 3.375rem;
}
cite.dustin-cite{
    width: 100%;
    margin-top: 10px !important;
}
ul.logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
li.logo-item{
    flex-basis: 20%;
    padding: 13px;    
}
div.logo-div{
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,.3);
    width: 168px;
    height: 92px;
}
img.logo-item-image{
    width: 100%;
}
h2.content-section-title{
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
    line-height: 3.375rem;
}
p.content-section-intro{
    margin: 0 auto;
    max-width: 90%;
}
div.learning-container{
    display: flex;
    flex-direction: row;
    color: #fff;
    width: 100%;
}
a.city-link{
    color: #fff;
}
div.learning-container-orange{
    background-color: #de7c01;
    width: 38%;
    padding: 1.5rem;
}
div.learning-container-blue{
    background-color: #0090d9;
    width: 24%;
    padding: 1.5rem;
}
div.learning-container-green{
    background-color: #00b298;
    width: 38%;
    padding: 1.5rem;
}
h1.learning-h1{
    font-size: 1.5rem;
}
h2.learning-h2{
    font-size: 1.125rem;
}
button.learn-button{
    border: 1px solid #fff;
    background-color: transparent;
    padding: 9px 24px;
    color: #fff;
    border-radius: 2px;
}
section.content-section-orange{
    flex-basis: 350px;
}
div.article-container-orange{
    width: 60%;
    float: right;
}
div.text-container-orange{
    text-align: center;
}
div.text-container-blue{
    text-align: center;
}
div.article-container-green{
    width: 60%;
    float: left;
}
div.text-container-green{
    text-align: center;
}
div.email-container{
    border: 1px solid #de7c01;
}
section.email-section{
    color: #de7c01;
    padding: 1.5rem;
}
div.email-content{
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
}
h1.email-title{
    text-align: center;
    line-height: 2.475rem;
    font-size: 1.375rem;
}
form.email-form{
    display: flex;
    margin-top: 1.5rem;
}
input.email-input{
    flex-basis: 70%;
    width: 100%;
    height: 46px;
    padding: 8px 22px;
    margin-right: 15px;
    background-color: #e2e2e2;
    border: 1px solid #fff;
    color: #052133 !important;
    box-shadow: inset 0 2px 2px 1px rgba(0,0,0,.05);
    border-radius: 2px;    
}
input:focus{
    background-color: #cccccc;
    outline-width: 0;
}
button.email-submit-btn{
    background-color: #de7c01;
    border: none;
    border-radius: 2px;
    color: #fff;
    flex-basis: 30%;
    font-size: .875rem; 
}
div.email-terms{
    margin-top: 1.5rem;
}
p.email-disclaimer{
    font-size: .8125rem;
    line-height: 1.21875rem;
}
div.quote-container-grey{
    background-color: #e2e2e2;
}
div.quote-container{
    display: flex;
    /* flex-wrap: wrap; */
}
div.quote-item{
    background: #d0d0d0;
    width: 33%;
    margin: 0;
}
div.quote-item-reverse{
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    background: #d0d0d0;    
    width: 33%;
}
img.quote-image{
    width: 100%;
}
blockquote.quote-block{
    min-height: 217px;
    padding: 20px 20px 25px;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
blockquote.quote-block::before{
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e2e2e2;
    border-bottom: 10px solid #d0d0d0;
    content: "";
    display: block;
    width: 0;
    height: 0;
}
blockquote.quote-item-reverse .quote-block::before{
    border: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #d0d0d0;
    content: "";
    display: block;
    width: 0;
    height: 0;
}
p.quote-message{
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
}
cite.quote-author{
    font-style: normal;
    display: block;
    width: 100%;
    text-align: center;
    color: #0090d9;
}
ul.featured-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    overflow: hidden;
}
li.featured-item{
    width: 32%;
    margin-bottom: 10px;
    margin-top: 10px;
}
img.featured-section-background{
    position: absolute;
    z-index: -1;
    width: 310px;
    height: 160px;
    object-fit: cover;
}
a.featured-section{
    font-size: 1.125rem;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 8px rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    min-height: 160px;
    line-height: 1.6875rem;
}
span.featured-section-text{
    width: 100%;
    text-align: center;
    padding: 1.5rem;
}
div.getting-started{
    background-image: url(https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3190/assets/images/hero/hero-bg--home-alt.jpg);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0px;
}
h1.getting-started-title{
    font-size: 2.625rem;
    line-height: 3.75rem;
    letter-spacing: 2px;
    font-weight: normal;
    font-family: "Merriweather",Georgia,serif;
    color: #fff;
    margin: 0 0 1.5rem;
}
div.getting-started-buttons-container{
    margin-top: 2.25rem;
    text-align: center;
}
button.admission-process-btn{
    color: #fff;
    background-color: rgb(222, 124, 1);
    border: 1px solid rgb(222, 124, 1);
    max-width: 260px;
    width: 100%;
    font-weight: 600;
    font-size: .96rem;
    padding: 9px 24px;
    border-radius: 2px;
    height: 41px;
}
button.campus-tour-btn{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    max-width: 260px;
    width: 100%;
    height: 41px;
    font-weight: 600;
    font-size: .96rem;
    padding: 9px 24px;
    margin-left: 15px;
}
