*{
    box-sizing: border-box;
}
:root{
    
}
main{
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    position: fixed;
}
div.navContent{
    display: flex;
    flex-direction: row;
}
ul.navMainUL{
    display: flex;
    flex-direction: row;
}
img.logo{
    width: 142px;
    height: 43px;
}
div.intro{
    text-align: center;
    background-image: url("https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3190/assets/images/hero/hero-bg--home.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}
a.fullTime:hover{
    
}
ul.fullTime_dropdown{
    display: none;
}